<div class="mt-4">
<form method="POST">
    <div class="form-group">
      <label for="key">Tim kiem:</label>
      <input type="text" class="form-control" id="key" placeholder="Enter your search" name="key">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>